.chat_main
  .chat_main_header
    .chat_main_header__left-box
      .chat_main_header__leftbox__current_group
        = @group.name
      .chat_main_header__left-box__member-list
        Members:
        - @group.users.each do |user|
          = user.name             
                
    .chat_main_header__edit-btn
      = link_to 'Edit', edit_group_path(@group)

  .messages
    = render partial: 'message' ,collection: @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fa','image',class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
